html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #18181B;
    color: #fff;
    display: flex;
}

.container-fluid {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: #121212;
    padding: 20px;
    flex: 0 0 12.5%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main content */
.main-content {
    padding: 20px;
    flex: 1;
}

.btn-download {
    background-color: #2a2a2b;
    color: #00a8e8;
    padding: 8px 15px;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
}

.btn-download:hover {
    background-color: #0077cc;
    color: white;
}

.about-card {
    background-color: #212121;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #00a8e8;
}

a:hover {
    color: #0077cc;
}

.version-box {
    background-color: #2a2a2b;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.version-box h5 {
    color: #b0b0b0;
}

.package-manager {
    background-color: #2a2a2b;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.nav-link.active {
    border-bottom: 2px solid #0d6efd;
}

#tagFilter {
    background-color: #2a2a2b;
    color: #fff;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 8px 12px;
    margin-bottom: 20px;
}

.tag-badge {
    display: inline-block;
    background-color: #00a8e8;
    color: #000;
    font-size: 0.75rem;
    padding: 4px 10px;
    margin: 4px 4px 0 0;
    border-radius: 12px;
}

.btn-read {
    background-color: #00a8e8;
    color: #000;
    padding: 8px 15px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

.btn-read:hover {
    background-color: #0077cc;
    color: #fff;
}

.blog-link {
    display: block;
    text-align: right;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-top: 5px;
}

.week-title {
    color: #fff !important;
    font-weight: 600;
    margin: 0;
}

.blog-link {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
}

.blog-link:hover {
    text-decoration: underline;
    color: #00a8e8;
}